{% extends "base.twig" %}

{% block body %}
<div id="canvas">
    <div id="box_wrapper">
        <section class="ls ms section_padding_top_75 section_padding_bottom_50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-push-1">
                        {% for record in data %}
                            <article class="vertical-item content-padding big-padding ds bg_teaser after_cover color_bg_5 post format-quote ">
                                  <div class="item-content entry-content text-center">
                                        <div class="entry-content">
                                            <blockquote class="with_quotes text-center bottommargin_0">
                                                <p>
                                                    {{ record.content }}
                                                </p>
                                                <div class="item-meta">
                                                    <h3 class="bottommargin_5 highlight5">{{ record.user.name }}</h3>
                                                    <p class="small-text">{{ record.updated_at }}</p>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}